@charset "utf-8";

/* ====== 版心 ====== */
.inner {
    width: 1200px;
    margin: auto;
}

/* ====== 页面公共的头部 start ====== */
/* 吸顶效果:固定定位 */
/* 绝对定位的元素脱离了文档流，元素默认宽度不存在,没有内容时宽度为0，有内容内容撑起宽度,设置了绝对定位的元素要重新指定宽度100%(相对的是具有定位的祖先元素)
固定定位、绝对定位、浮动需要重新指定宽度*/
.public-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 99;
}
.public-header-top {
    height: 30px;
    background: url(../images/topbar-bg.gif) repeat-x;
}
.public-header-top ul {
    float: right;
}
.public-header-top li {
    float: left;
}
.public-header-top a {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

.ml14 { margin-left:14px; }
.ml52 { margin-left:52px; }
.m6 { margin: 0 6px; }

a.login {
    padding-left: 15px;
    background: url(../images/login.png) left center no-repeat;
}

.public-header-bottom {
    position: relative;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
}
.public-logo {
    float: left;
}
.public-logo a {
    display: block;
    width: 116px;
    height: 60px;
    background: url(../images/HONOR_Logo2.jpg) left center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
.public-nav {
    float: left;
    margin-left: 60px;
}
.public-nav li {
    float: left;
}
.public-nav li>a {
    display: block;
    margin-right: 30px;
    padding: 22px 15px 23px;
    font-size: 15px;
    color: #909090;
    line-height: 15px;
}
.public-nav li:hover>a {
    padding-bottom: 20px;
    border-bottom: 3px solid #2abbe3;
}
.produce-show {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 276px;
    background-color: #2abbe3;
    color: #fff;
}
li:hover .produce+.produce-show {
    display: block;
}
.produce-show dl {
    float: left;
    width: 200px;
}
.produce-show dt {
    margin-top: 24px;
    font-size: 18px;
    line-height: 46px;
}
.produce-show dd {
    font-size: 14px;
    line-height: 40px;
}
.produce-show dt a,
.produce-show dd a {
    color: #fff;
}

.public-search {
    float: right;
    position: relative;
}
.public-search input {
    width: 240px;
    height: 32px;
    padding: 0 54px 0 15px;
    border: 1px solid #9f9f9f;
    background: url(../images/search.png) 210px center no-repeat;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 16px;
}
.public-search input:focus~a {
    display: none;
}
.public-search a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    padding: 0 4px;
    background-color: #ededed;
    line-height: 20px;
    border-radius: 2px;
}
.public-search a:first-of-type {
    left: 86px;
}
.public-search a:last-of-type {
    left: 153px;
}
/* ====== 页面公共的头部 end ====== */

/* ====== 页面公共的脚部 start ====== */
/* ====== 页面公共的脚部 end ====== */
