@charset "utf-8";

/* ====== 轮播图 S ====== */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 45px;
}
.carousel>img {
    display: block;
    width: 100%;
    visibility: hidden;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    /* 设置弹性盒 */
    display: flex;
    width: 1000%;
    /* 轮播图动画 */
    animation: my-slider 18s linear infinite;
}
@keyframes my-slider {
    0% { left: 0; }
    16% { left: 0; }
    17% { left: -100%; }
    32% { left: -100%; }
    33% { left: -200%; }
    48% { left: -200%; }
    49% { left: -300%; }
    64% { left: -300%; }
    65% { left: -400%; }
    80% { left: -400%; }
    81% { left: -500%; }
    96% { left: -500%; }
    97% { left: -600%; }
    100% { left: -600%; }
}
.slider li {
    width: 10%;
}
.slider img {
    width: 100%;
}
.slider-btn {
    position: absolute;
    right: 6px;
    bottom: 6px;
    /* 设置弹性盒 */
    display: flex;
}
.slider-btn span {
    width: 5px;
    height: 5px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.slider-btn span.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    border-radius: 3px;
    /* 轮播图动画 */
    animation: my-slider-btn 18s linear infinite;
}
@keyframes my-slider-btn {
    0% { left: 0; }
    16% { left: 0; }
    17% { left: 10px; }
    32% { left: 10px; }
    33% { left: 20px; }
    48% { left: 20px; }
    49% { left: 30px; }
    64% { left: 30px; }
    65% { left: 40px; }
    80% { left: 40px; }
    81% { left: 50px; }
    96% { left: 50px; }
    97% { left: 0; }
    100% { left: 0; }
}
/* ====== 轮播图 E ====== */

/* ====== 旅游玩乐部分 S ====== */
[class^=travel-item-] {
    height: 90px;
    margin: 4px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 45px;
    color: #fff;
    text-align: center;
}
[class^=travel-item-]>div {
    float: left;
    width: 33.33%;
    border-left: 1px solid #fff;
    text-shadow: 1px 2px 3px rgb(0,0,0,.5);
    box-sizing: border-box;
}
[class^=travel-item-]>div:nth-last-child(1),
[class^=travel-item-]>div:nth-last-child(2) {
    border-top: 1px solid #fff;
}
[class^=travel-item-]:nth-last-child(n+2)>div:first-child {
    height: 90px;
}
.travel-item-hotel {
    background-color: #ff697a;
}
.travel-item-ticket {
    background-color: #3d98ff;
}
.travel-item-travel {
    background-color: #44c522;
}
.travel-item-play {
    background-color: #fc9720;
}
[class^=travel-item-] i {
    display: block;
    margin: auto;
    width: 40px;
    height: 33px;
    background: url(../img/icon.png) 0 0/104px no-repeat;
}
.travel-item-hotel i {
    background-position: 0 -130px;
}
.travel-item-ticket i {
    background-position: 0 -298px;
}
.travel-item-travel i {
    background-position: 0 -180px;
}
/* ====== 旅游玩乐部分 E ====== */

/* ====== 中间菜单部分 S ====== */
.center-menu {
    display: flex;
    margin: 8px 4px 0;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 4px;
}
.center-menu a {
    display: block;
    width: 25%;
    height: 60px;
    border-left: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    box-sizing: border-box;
    text-align: center;
}
.center-menu a:nth-of-type(4n+1) {
    border-left: none;
}
.center-menu a:nth-of-type(n+9) {
    border-bottom: none;
}
[class^=menu-icon-] {
    display: block;
    width: 20px;
    height: 20px;
    margin: 11px auto 5px;
    background: url(../img/sub.png) 0 0/20px no-repeat;
}
.menu-icon-zyx {
    background-position: 0 -80px;
}
.menu-icon-wld {
    background-position: 0 -293px;
}
.menu-icon-yry {
    background-position: 0 -120px;
}
.menu-icon-gdy {
    background-position: 0 -140px;
}
.menu-icon-jdjd {
    background-position: 0 -160px;
}
.menu-icon-hwwl {
    background-position: 0 -180px;
}
.menu-icon-wbdh {
    background-position: 0 -200px;
}
.menu-icon-jmhz {
    background-position: 0 -220px;
}
.menu-icon-jctc {
    background-position: 0 -20px;
}
.menu-icon-xljs {
    background-position: 0 -260px;
}
.menu-icon-djqn {
    background-position: 0 -240px;
}
.menu-icon-more {
    background-position: 0 -60px;
}
/* ====== 中间菜单部分 E ====== */


/* ====== 公共模块样式 E ====== */
.mod {
    margin-top: 8px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}
.mod-hd {
    position: relative;
    height: 44px;
    padding: 0 8px;
}
.mod-hd h3 {
    padding-top: 15px;
    font-size: 14px;
    line-height: 100%;
    color: transparent;
}
.mod-hd a {
    position: absolute;
    top: 11px;
    right: 8px;
    width: 102px;
    height: 20px;
    background-image: linear-gradient(to right, #ff4f65, #fe7ccd);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.mod-hd a::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg) scale(.8);
}
/* ====== 公共模块样式 E ====== */

/* ====== 特卖会 S ====== */
.special h3 {
    background: url(../img/special.png) 0 15px/56px no-repeat;
}
.special figure {
    float: left;
    background-color: #f9f9f9;
    font-size: 12px;
    line-height: 100%;
}
.special .mod-bd {
    padding: 0 8px 12px;
    background-color: #fff;
}
.special .prod {
    width: 50%;
}
.prod .pic,
.prod img {
    width: 100%;
    height: 117px;
}
.prod .pic {
    position: relative;
}
.pic .tag {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    padding: 0 7px;
    background-color: #fd3a51;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.pic .tag::after {
    content: '';
    display: inline-block;
    border-top: 20px solid #fd3a51;
    border-right: 8px solid transparent;
    border-left: none;
    border-bottom: none;
    position: absolute;
    top: 0;
    right: -8px;
}
.prod figcaption {
    padding: 0 8px;
}
.prod .title {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.5em;
    color: #000;
    /* 多行文本溢出省略 只有Chrome兼容（移动端也兼容） */
    display: -webkit-box;
    /* 竖向排列 */
    -webkit-box-orient: vertical;
    /* 保留3行 */
    -webkit-line-clamp: 2;
    /* 文本溢出隐藏 */
    overflow: hidden;
}
.prod .price {
    margin: 4px 0 17px;
    line-height: 100%;
    color: #fd3a51;
}
.prod .discount {
    height: 14px;
    padding: 0 6px;
    background-color: #fd3a51;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 7px;
}
.special figure:nth-of-type(2) {
    width: 50%;
    height: 88px;
    padding-left: 7px;
    border-left: 4px solid #fff;
    background: #f9f9f9 url(../img/qiandaizi.png) right bottom/53px no-repeat;
    box-sizing: border-box;
}
.special figure:nth-of-type(n+2) p:first-child {
    height: 33px;
    line-height: 38px;
    font-weight: 900;
}
.special figure:nth-of-type(3),
.special figure:nth-of-type(4) {
    width: 25%;
    height: 113px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    text-align: center;
    box-sizing: border-box;
}
.special figure:nth-of-type(3) i,
.special figure:nth-of-type(4) i {
    display: inline-block;
    width: 50px;
    height: 35px;
    margin-top: 25px;
    background: url(../img/feiji.png) 0 0/50px no-repeat;
}
.special figure:nth-of-type(4) i {
    background-image: url(../img/pic-tmh-03.png);
}
.c-red {
    color: #fd3a51;
}
.c-blue {
    color: #6aabfe;
}
.c-green {
    color: #53ca9c;
}
/* ====== 特卖会 E ====== */

/* ====== 热门活动 S ====== */
.hot-activity h3 {
    background: url(../img/hot.png) 0 15px/56px no-repeat;
}
.hot-activity h3::after {
    content: '';
    display: inline-block;
    width: 36px;
    height: 15px;
    margin-left: 10px;
    background: url(../img/icon-gg@2x.png) 0 0/36px no-repeat;
}
.hot-activity-item img {
    float: left;
    width: 50%;
    border-left: 1px solid #fff;
    border-top: 1px solid #f2f2f2;
    box-sizing: border-box;
}
.hot-activity-item:nth-of-type(2n) img {
    border-left: 1px solid #f2f2f2;
}
/* ====== 热门活动 E ====== */
